
	.image, .image_desactive{
		margin: 1.5em;
		width: 80%; 
		height: 17em;
	}
	
	#container_images div{
		text-align: center;
	}
	
	.name, .name_desactive{
		font-size: 4em;
		text-align: center;
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-khtml-user-select: none;
		-ms-user-select:none;
		
	}
	
	#footer {
		position: fixed;
		bottom: 0;
		z-index: 100;/* Depende el valor segun las capas flotantes que tengas */
		left: 0; /* Depende el Ancho de donde se va a colocar */
                background-color: rgba(239, 240, 241, 0.6);
                width: 100%;
                text-align: center;
	}