body {
    background-color: #F0E4CC;
}

h1 {
    text-align: center;
    font-size: 5em;
}

.color_orange {
    background-color: #FF7701;
    border-color: #FF7701;
}

#logout {
    color: #337ab7;
    text-decoration: none;
    position: absolute;
    right: 40px;
    font-size: 3em;
    top: 12px;
}

.color_orange:hover {
    background-color: #FF7701;
    border-color: #FF7701;
}

button{
    width: 80%;
    background-color: #FF7701;
    color: white;
    font-size: 5em;
    border-radius: 30px;
    margin-bottom: 50px;
}

.container_button{
    margin-top: 3em;
    text-align: center;
}

