<h1>MENU</h1>
<div class="col-md-12 container_button">
    <button class="color_orange" onclick="location.href = '<?php echo $this->url->get("juego/index/"); ?>'">Juego</button>
    <button class="color_orange" onclick="location.href = '<?php echo $this->url->get("desarrollo/index/"); ?>'">Desarrollo</button>
</div>