<h1>CURSO</h1>
<div class="col-md-12 container_button">
    <?php foreach ($juegoCurso as $juegoCursoActual) :?>
    <button class="color_orange" 
            onclick="location.href = '<?php echo $this->url->get("juego/listado/" .$juegoCursoActual->id); ?>'">
                <?php echo $juegoCursoActual->nombre;?>
    </button>
    <?php endforeach;?>
</div>